# Creating a Pandas Series with a List

In [1]:
import pandas as pd

In [2]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
list_data = [1, 2, 3, 4, 5]
list_index = ["a", "b", "c", "d", "e"]

In [4]:
variable = pd.Series(data=list_data, index=list_index, dtype="float")

In [5]:
variable

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [6]:
type(variable)

pandas.core.series.Series

In [7]:
list_data = [1, 2, 3, 4, 5,6]
list_index = ["a", "b", "c", "d", "e"]

In [8]:
variable = pd.Series(data=list_data, index=list_index, dtype="float")

ValueError: Length of values (6) does not match length of index (5)

# Creating a Pandas Series with a Dictionary

In [9]:
dictionary = {"ferrari" : 334.7, "porche" : 337.9, "lamborghini" : 349}

In [10]:
pd.Series(dictionary)

ferrari        334.7
porche         337.9
lamborghini    349.0
dtype: float64

In [11]:
pd.Series(data = dictionary)

ferrari        334.7
porche         337.9
lamborghini    349.0
dtype: float64

In [12]:
variable = pd.Series(data = dictionary, index = ["ferrari", "bugatti", "lamborghini"])

In [13]:
variable

ferrari        334.7
bugatti          NaN
lamborghini    349.0
dtype: float64

# Creating Pandas Series with NumPy Array

In [14]:
import numpy as np

In [15]:
example = np.array([1,3.3,5,7.2,9])
labels = np.array(["a", "b", "c", "d", "e"])

In [16]:
variable = pd.Series(data = example, index = labels)

In [17]:
variable

a    1.0
b    3.3
c    5.0
d    7.2
e    9.0
dtype: float64

# Object Types in Series

In [18]:
pd.Series(["world", 100, 5.8, True])

0    world
1      100
2      5.8
3     True
dtype: object

In [19]:
example = pd.Series(["world", 100, 5.8, True])

In [20]:
example

0    world
1      100
2      5.8
3     True
dtype: object

In [21]:
example[0]

'world'

In [22]:
print(type(example[0]))

<class 'str'>

In [23]:
print(type(example[1]))
print(type(example[2]))
print(type(example[3]))

<class 'int'>
<class 'float'>
<class 'bool'>

In [24]:
pd.Series([sum, type, max])

0    <built-in function sum>
1             <class 'type'>
2    <built-in function max>
dtype: object

# Examining the Primary Features of the Pandas Series

In [25]:
example = pd.Series([10, 20, 30, 40, 50, 60, 70])

In [26]:
example

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [27]:
example.axes

[RangeIndex(start=0, stop=7, step=1)]

In [28]:
example.dtype

dtype('int64')

In [29]:
example.size

7

In [30]:
example.ndim

1

In [31]:
example.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [32]:
example.head(3)

0    10
1    20
2    30
dtype: int64

In [33]:
example.tail()

2    30
3    40
4    50
5    60
6    70
dtype: int64

# Most Applied Methods on Pandas Series

In [34]:
variable = pd.Series([8, 3, 6, 5, 1], index = ["b", "d", "c", "a", "e"])

In [35]:
variable

b    8
d    3
c    6
a    5
e    1
dtype: int64

In [36]:
new_variable = variable.sort_index()

In [37]:
new_variable

a    5
b    8
c    6
d    3
e    1
dtype: int64

In [38]:
new_variable2 = variable.sort_values()

In [39]:
new_variable2

e    1
d    3
a    5
c    6
b    8
dtype: int64

In [40]:
variable.isin([6, 1])

b    False
d    False
c     True
a    False
e     True
dtype: bool

In [41]:
variable[variable.isin([6, 1])]

c    6
e    1
dtype: int64

In [42]:
variable.values

array([8, 3, 6, 5, 1], dtype=int64)

In [43]:
[i for i in variable.values]

[8, 3, 6, 5, 1]

In [44]:
variable.index

Index(['b', 'd', 'c', 'a', 'e'], dtype='object')

In [45]:
[i for i in variable.index]

['b', 'd', 'c', 'a', 'e']

In [46]:
variable.items

<bound method Series.items of b    8
d    3
c    6
a    5
e    1
dtype: int64>

In [47]:
variable.items()

In [48]:
list(variable.items())

[('b', 8), ('d', 3), ('c', 6), ('a', 5), ('e', 1)]

In [49]:
for index, value in variable.items():
    print(index,'-', value)

b - 8
d - 3
c - 6
a - 5
e - 1

# Indexing and Slicing Pandas Series

In [50]:
example = pd.Series(["+90", "+49", "+33", "+39", "+46", "+47"], index = ["Turkey", "Germany", "France", "Italy", "Sweden", "Norway"]

In [51]:
example

Turkey     +90
Germany    +49
France     +33
Italy      +39
Sweden     +46
Norway     +47
dtype: object

In [52]:
example["Germany"]

'+49'

In [54]:
example[1]

'+49'

In [55]:
example["France":"Sweden"]

France    +33
Italy     +39
Sweden    +46
dtype: object

In [56]:
example[2:5]

France    +33
Italy     +39
Sweden    +46
dtype: object

In [57]:
example[2:5:2]

France    +33
Sweden    +46
dtype: object

In [58]:
example[["Norway", "Turkey"]]

Norway    +47
Turkey    +90
dtype: object